.exp{
    font-family: Arial;
    outline:0;
    position:relative;
    padding:1px;
    display:inline;
}
    .focus{
        background-color:#acf;
        padding:1px;
    }
    .hover{
        padding:0px;
        border:1px dashed #aaa;
    }
    .indicate{
        background-color:#cff;
        padding:0px;
        border:1px dashed #acc;
    }
/*****/

.fraction{
    text-align:center;
    display:inline-block;
}
.hr{
    border:0px;
    border-top:1px solid black;
}

.text{
    text-align:left;
    display:inline-block;
    min-width:10px;
    min-height:20px;
}

.radical{
    display:inline-block;
}
.radical .block{
    border-top:1px solid black;
}
.radical .exponent{
    display:inline-block;
    vertical-align:middle;
}

.bracket{
    display: inline-block;
}
.bracket .item{
    margin-bottom:10px;
}

.symbol,.block{
    display:inline-block;
    vertical-align:middle;
}

.liner{
    display:block;
}
.liner .exp{
    vertical-align:bottom;
}
    
