span.exp{
    font-family: Arial; 
    font-size:20px;
    outline:0;
    position:relative;
}
.fraction .exp{
    text-align:center;
}
.item{
    margin-bottom:10px;
}
.exp.liner{
    display:block;
}
.text{
    min-width:10px;
    min-height:10px;
}
.fraction,.text{
    display:inline-block;
}
.hover{
    border:1px dashed black;
}
.hr{
    border:0px;
    border-top:1px solid black;
}
.focus{
    background-color:#ffc;
    border:1px dashed black;
}

.symbol,.block{
    display:inline-block;
}
